<div class="container">
    <div class="row">
        <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
            <h3 class="text-center text-theme-primary">New Categories</h3>
            <p class="text-center mb-5">You can add new categories from here..!</p>

            <form 
                class="d-flex flex-row text-center" 
                #categoryForm="ngForm" 
                (ngSubmit)="onSubmit(categoryForm)">
                <div class="form-group col-md-10">
                    <input 
                        type="text" 
                        name="category" 
                        class="form-control shadow-effect" 
                        [(ngModel)]="categoryData" 
                        #newCategory = 'ngModel'
                        placeholder="Add New Categories"
                        required
                        [ngClass]="{ 'is-invalid': newCategory.touched && newCategory.invalid }"
                    >
                    <div class="alert alert-danger" *ngIf="newCategory.touched && newCategory.invalid">
                        Category field is required
                    </div>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-block btn-theme mb-2" [disabled]="categoryForm.invalid">Add Category</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-5 mb-5">

        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th>Sl. No.</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categoryArray; let i = index">
                                <td> {{ i + 1 }} </td>
                                <td>
                                    <div *ngFor="let obj of category | keyvalue">
                                        <div *ngFor="let data of obj.value | keyvalue">
                                            {{ data.value }}
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3"></div>

    </div>

</div>